@import "tailwindcss";

:root {
  --background: #54372B;
  --foreground: #221518;
  --text: #F7E1BC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #54372B;
    --foreground: #221518;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-image: url('/Bg footer.png');
  background-repeat: no-repeat;
  background-size: cover; /* yoki contain */
  background-position: center;
}
html {
  scroll-behavior: smooth;
}